<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yrs.emos.generator.mapper.TbUserMapper">

    <resultMap id="BaseResultMap" type="yrs.emos.generator.domain.TbUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="openId" column="open_id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="OTHER"/>
            <result property="tel" column="tel" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="hiredate" column="hiredate" jdbcType="DATE"/>
            <result property="role" column="role" jdbcType="OTHER"/>
            <result property="root" column="root" jdbcType="TINYINT"/>
            <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,open_id,nickname,
        photo,name,sex,
        tel,email,hiredate,
        role,root,dept_id,
        status,create_time
    </sql>
    <insert id="insert" parameterType="HashMap">
        INSERT INTO tb_user
        SET
        <if test="openId!=null">
            open_id = #{openId},
        </if>
        <if test="nickname!=null">
            nickname = #{nickname},
        </if>
        <if test="photo!=null">
            photo = #{photo},
        </if>
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="sex!=null">
            sex = #{sex},
        </if>
        <if test="tel!=null">
            tel = #{tel},
        </if>
        <if test="email!=null">
            email=#{email},
        </if>
        <if test="hiredate!=null">
            hiredate = #{hiredate},
        </if>
        role = #{role},
        root = #{root},
        <if test="deptName!=null">
            dept_id = ( SELECT id FROM tb_dept WHERE dept_name = #{deptName} ),
        </if>
        status = #{status},
        create_time = #{createTime}
    </insert>

    <select id="hasRootUser" resultType="java.lang.Boolean">
        select IF(count(*), TRUE, FALSE) FROM tb_user WHERE root = 1;
    </select>
    <select id="searchIdByOpenId" parameterType="String" resultType="Integer">
        select id from tb_user where open_id = #{openId} and status = 1;
    </select>
    <select id="searchUserPermissions" parameterType="int" resultType="String">
        select p.permission_name from
            tb_user u
                join tb_role r on JSON_CONTAINS(u.role, CAST(r.id as CHAR))
                join tb_permission p on JSON_CONTAINS(r.permissions, CAST(p.id as CHAR))
        where u.id = #{userId} and u. status = 1;
    </select>
</mapper>
