<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yrs.emos.generator.mapper.TbWorkdayMapper">

    <resultMap id="BaseResultMap" type="yrs.emos.generator.domain.TbWorkday">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,date
    </sql>
    <select id="searchTodayIsWorkDay" resultType="java.lang.Integer">
        select id from tb_workdays where date  = CURRENT_DATA limit 1;
    </select>
</mapper>
